<div *ngIf="visible" class="maintenance-overlay">
  <div class="bg-pattern"></div>

  <main class="content" role="dialog" aria-labelledby="maintenance-title">
    <div class="brand">
      <img _ngcontent-dst-c196="" src="assets/pdn.png" alt="PDN" class="pdn-logo">
      <div class="brand-sub">Declaración Patrimonial<br>y de Intereses</div>
    </div>

    <div class="maintenance-icon" aria-hidden="true">
      <div class="icon-circle">
        <mat-icon class="icon">build</mat-icon>
      </div>
    </div>

    <h1 id="maintenance-title" class="title">Sitio en mantenimiento</h1>

    

    <div class="progress" aria-hidden="true">
      <div class="progress-bar"></div>
    </div>

    <div class="info-grid">
      <div class="info-box">
        <div class="label">Estado del Sistema</div>
        <div class="value"><span class="dot"></span>Actualizando</div>
      </div>
      <div class="info-box">
        <div class="label">Reanudación del Sistema</div>
        <div class="value">Sábado 14 de febrero</div>
      </div>
    </div>
  </main>

  <footer class="overlay-footer">Plataforma Digital Nacional © 2024</footer>
</div>
